.footer {
  background-color: $ftr-bgcolor;
  &__tablet {
    @include for-size(mobile-only) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    @include for-size(tablet) {
      width: 100%;
      @include centered-flex(flex, baseline, flex-start);
    }
  }
  &__contacts,
  &__social-network {
    @include for-size(mobile-tablet) {
      margin-bottom: 60px;
    }
  }
  &__contacts,
  &__social-network {
    @include for-size(mobile-tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__contacts,
  &__social-network {
    @include for-size(tablet-only) {
      width: 50%;
    }
  }
  &__contacts {
    @include for-size(desktop) {
      margin-right: 70px;
    }
  }
  &__social-network {
    @include for-size(desktop) {
      margin-right: 93px;
    }
  }
}

.footer .title {
  margin-bottom: 20px;

  text-align: left;
  font-size: 14px;
  line-height: 1.14;
  color: $white-color;
}
.footer__contacts .address {
  & .text {
    margin-bottom: 9px;

    color: $white-color;
    font-style: normal;
  }

  & .item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address .item {
  @include for-size(mobile-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.address .link {
  display: block;

  color: $ftr-link-color;
  font-style: normal;

  transition: {
    property: color;
    duration: 250ms;
    timing-function: $timing-function;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__mailing {
  @include for-size(mobile-tablet) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .title {
    @include for-size(mobile-tablet) {
      text-align: center;
    }
  }
  & .mailing {
    @include for-size(mobile-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    @include for-size(desktop) {
      @include centered-flex(flex, baseline, flex-start);
    }
  }
  & .input-mail {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $ftr-bgcolor;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    @include for-size(tablet) {
      width: 450px;
    }
    @include for-size(desktop) {
      width: 358px;
      margin-right: 12px;
    }
  }
}
