header {
  border-bottom: 1px solid #ececec;
}
.conteiner.main-nav,
.main-nav {
  @include centered-flex(flex, center, flex-start);
}
// скрываем навигацию
.navigation-wrap {
  width: 100%;
  @include for-size(mobile-only) {
    display: none;
  }

  @include for-size(tablet) {
    display: flex;
  }

  @include for-size(desktop) {
  }
}
