.logo {
  margin-right: 93px;

  color: $logo-header-color;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo .current {
  color: $accent-color;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: $white-color;
}
