  $logo-header-color: #000000;
  $primary-text-color: #212121;
  $text-color: #757575;
  $accent-color: #2196f3;
  $white-color: #ffffff;
  $ftr-bgcolor: #2f303a;
  $ftr-link-color: rgba(255, 255, 255, 0.6);
  $icon-color: #afb1b8;

  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);